:root{
   --main-hdr-txt-color:#17191C;
   --main-p-txt-color: #2F353D; 
   --main-tab-brd-color: #CBCBCB;
   --main-max-width:45rem;
   --main-font-family: Rubik;
   --main-p-font-size: 1.125rem;
   --main-p-res500-fontsize: 1rem;
   --main-p-res400-fontsize: 0.75rem;
   --main-adj-max-width:500px;
}

.body{
   font-family: var(--main-font-family);
   font-style: normal;
   font-size: var(--main-p-font-size);
   font-weight: 300; 
   line-height: 1.88rem;
   color: var(--main-p-txt-color);
   list-style-type: disc;
}

.header{
   margin: 2rem auto 1rem auto;      
   background-color: #c2d3e6;
   padding-top: 2rem;
   padding-bottom: 1.5rem;
}

.header__text{
    
   font-weight: 700;
   font-size: 3rem;
   line-height: 3.5rem;
   text-align: center;
   font-feature-settings: 'pnum' on, 'lnum' on;
   color: var(--main-hdr-txt-color);  
      
}

.main{
   margin: 2rem auto 1rem auto;
   max-width: var(--main-max-width);
   padding: 2rem 1rem 2rem 1rem;     
}

.main__header{
   font-weight: 600;
   font-size: 1.5rem;
   line-height: 2rem;
   font-feature-settings: 'pnum' on, 'lnum' on;
   color: var(--main-hdr-txt-color);
   padding-top: 2rem;
   }

.main__image{      
      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
   }

.main__text{   
   text-align: justify;
             
  /*
  line-height: 1.88rem;    
  font-weight: 300;  
      color: var(--main-p-txt-color);
      font-size: var(--main-p-font-size);
     */
  }
  
  .main__list{     
     font-weight: 400;     
   }
  
    .main__table{
          
     border-collapse: collapse;
     table-layout: fixed;   
     border-bottom: 1px solid var(--main-tab-brd-color);  
  }
  
  .thead-main__table{
     padding: 1.2rem; 
     text-align: center;
     border-bottom: 1px solid var(--main-tab-brd-color); 
     }
     
  .tdata-main__table{     
     padding-left: 0.5rem;
     padding-right: 0.5rem; 
     text-align: center;
     border-right: 1px solid var(--main-tab-brd-color);
     border-left: 1px solid var(--main-tab-brd-color);
   }
   
.tdata-main__table:first-child{
     text-align: left;
  }


.main__blockreactionsrow{
   text-align: center;
   padding-top: 2rem;
}

.main__blockreactions{
   display: inline-flex;
   justify-content: space-between;
   width: 430px;     
}

.main__blockreactions_content{

}

.icon-main__reactions{   
   width: 48px;
   height: 48px;
   display: block;
   position: relative;
   left: 0px;

   animation-name: mouse-on-like;
      
}

.main__blockreactions_content:hover .icon-main__reactions{
   animation-play-state:running;
   animation-duration: 2s;
   animation-iteration-count: infinite;
   cursor: pointer;
}


@keyframes mouse-on-like{
   0% { transform: translate(1px, 1px) rotate(0deg);
   scale:100%; }
   10% { transform: translate(-1px, -2px) rotate(-1deg); 
   scale: 105%;
   }
   20% { transform: translate(-3px, 0px) rotate(1deg); 
   scale:108%;
   }
   30% { transform: translate(3px, 2px) rotate(0deg);
   scale: 110%;
    }
   40% { transform: translate(1px, -1px) rotate(1deg);
   scale:114%;
    }
   50% { transform: translate(-1px, 2px) rotate(-1deg); 
      scale:111%;}
   60% { transform: translate(-3px, 1px) rotate(0deg);
      scale:107%; }
   70% { transform: translate(3px, 1px) rotate(-1deg);
      scale:105%; }
   80% { transform: translate(-1px, -1px) rotate(1deg);
      scale:103%; }
   90% { transform: translate(1px, 2px) rotate(0deg); 
      scale:102%;}
   100% { transform: translate(1px, -2px) rotate(-1deg); 
      scale:100%;}  
}



@media (max-width: 500px) {
   .header{
      padding-top: 1rem;
      padding-bottom: 0.5rem;
   }
   .header__text{
      font-size: 2rem; 
      line-height: 2.0rem; 
           
   }
   .main{       
      padding-top: 1rem;
   }
   .main__header{       
      padding-top: 1rem;
   }
   .thead-main__table{       
      padding: 0.5rem;
      font-size: var(--main-p-res500-fontsize);
   }
   .tdata-main__table{       
      padding-top: 0.5rem;
      font-size: var(--main-p-res500-fontsize);
   }
   .main__blockreactions{
      width: 360px;
   }
   .icon-main__reactions{
      width: 36px;
      height: 36px;      
   }
}

   
   @media (max-width: 400px){
      .header__text{
         line-height: 2.0rem;
         font-size: 1.5rem;      
              
      }
      .thead-main__table{       
         font-size: var(--main-p-res400-fontsize);
         padding: 0.25rem;         
      }

      .tdata-main__table{       
         font-size: var(--main-p-res400-fontsize);
         padding: 0.25rem;
         
      }
      .main__blockreactions{
         width: 320px;
      }
      .icon-main__reactions{
         width: 32px;
         height: 32px;  
      }
   }

