:root{
   --main-hdr-txt-color:#17191C;
   --main-p-txt-color: #2F353D; 
   --main-tab-brd-color: #CBCBCB;
   --main-hdr-back-color:#c2d3e6;
   --main-max-width:45rem;
   --main-font-family: Rubik;
   --main-p-font-size: 1.125rem;
   --main-p-res500-fontsize: 1rem;
   --main-p-res400-fontsize: 0.75rem;
   --main-p-res350-fontsize: 0.5rem;
   --main-adj-max-width:500px;
   --footer-phone-font-size:1.125rem;
   --footer-menue-font-size:1.125rem;
   --footer-address-font-size:1rem;
   --footer-samllertxt-font-size:0.875rem;
   --footer-smallertxt-res700-font-size:0.75rem;
}

.body{
   font-family: var(--main-font-family);
   font-style: normal;
   font-size: var(--main-p-font-size);
   font-weight: 300; 
   line-height: 1.88rem;
   color: var(--main-p-txt-color);
   list-style-type: disc;
}

.header{
   margin: 0rem 0 1rem 0;      
   background-color: var(--main-hdr-back-color);
   padding-top: 2rem;
   padding-bottom: 1rem;
}

.header__text{
    
   font-weight: 700;
   font-size: 3rem;
   line-height: 3.5rem;
   text-align: center;
   font-feature-settings: 'pnum' on, 'lnum' on;
   color: var(--main-hdr-txt-color);  
      
}

.main{
   margin: 2rem auto 1rem auto;
   max-width: var(--main-max-width);
   padding: 2rem 1rem 2rem 1rem;     
}

.main__header{
   font-weight: 600;
   font-size: 1.5rem;
   line-height: 2rem;
   font-feature-settings: 'pnum' on, 'lnum' on;
   color: var(--main-hdr-txt-color);
   padding-top: 2rem;
   }

.main__image{      
      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
   }

.main__text{   
   text-align: justify;
             
  /*
  line-height: 1.88rem;    
  font-weight: 300;  
      color: var(--main-p-txt-color);
      font-size: var(--main-p-font-size);
     */
  }
  
  .main__list{     
     font-weight: 400;     
   }
  
    .main__table{
          
     border-collapse: collapse;
     table-layout: fixed;   
     border-bottom: 1px solid var(--main-tab-brd-color);  
  }
  
  .thead-main__table{
     padding: 1.2rem; 
     text-align: center;
     border-bottom: 1px solid var(--main-tab-brd-color); 
     }
     
  .tdata-main__table{     
     padding-left: 0.5rem;
     padding-right: 0.5rem; 
     text-align: center;
     border-right: 1px solid var(--main-tab-brd-color);
     border-left: 1px solid var(--main-tab-brd-color);
   }
   
.tdata-main__table:first-child{
     text-align: left;
  }


.main__blockreactionsrow{
   text-align: center;
   padding-top: 2rem;
   z-index: 2; 
}

.main__blockreactions{
   display: inline-flex;
   justify-content: space-between;
   width: 430px;  
     
}

.main__blockreactions_content{
/*
   -moz-animation-name: mouse-on-like;
   -webkit-animation-name: mouse-on-like;
   animation-name: mouse-on-like;

   -moz-animation-duration: 1s;
   -webkit-animation-duration: 1s;
   animation-duration: 1s;
      
   -moz-animation-play-state: paused;
   -webkit-animation-play-state: paused;
   animation-play-state: paused;

   -moz-animation-iteration-count: 1;
   -webkit-animation-iteration-count: 1;
   animation-iteration-count: 1;

   */
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}


.icon-main__reactions{   
   width: 48px;
   height: 48px;
   display: block;
   position: relative;
   left: 0px;
/*
   -moz-animation-play-state:initial;
   -webkit-animation-play-state: initial;
   animation-play-state: initial;
*/        
}

/*.main__blockreactions_content:hover
*/
/*
.main__blockreactions_content:hover{
   
   -moz-animation-iteration-count: 1;
   -webkit-animation-iteration-count: 1;
   animation-iteration-count: 1;

   -moz-animation-play-state: running;
   -webkit-animation-play-state: running;
   animation-play-state: running;
      
   -moz-animation-iteration-count: 1;
   -webkit-animation-iteration-count: 1;
   animation-iteration-count: 1;

   -webkit-transform: scale(1.3);
   -ms-transform: scale(1.3);
   transform: scale(1.3);

   cursor: pointer;
}
*/

.main__blockreactions_content:hover{
   -webkit-transform: scale(1.15);
   transform: scale(1.15);
   cursor: pointer;
   animation-duration: 1s;
   animation-name: mouse-on-like;
}

.main__blockreactions{   
   padding: 2rem 0rem 0rem 0rem;
   
}

.actuals__container{
   background-color: var(--main-hdr-back-color);
   width: 100%;
   text-align: center;
   margin-bottom: 0rem;
}
.actuals__materialsheader{
   text-align: center;
   padding: 2rem 0rem 0rem 0rem;
}
.actuals__materialcontainer{
   display: inline-flex;
   justify-content: space-between;
   max-width: 1026px;
   padding: 0rem 0rem 2rem 0rem;
   
}
.actuals__materialsbox{
   background-color: white;
   border-radius: 1rem;
   flex-basis:328px;
   height: 284px;
   border-color: var(--main-hdr-back-color);
   border-style: solid;
   border-style:none;
   margin-left: 1rem;
   margin-right: 1rem;   
      
}

.actuals__materialsbox h3{
   text-align: left; 
   font-size: var(--main-p-font-size);
   
   padding: 0.5rem 0.5rem 0.5rem 0.5rem;
   
   margin-top: 0rem;
   /*
   */
}

.actuals__pictur{
   border-radius: 1rem 1rem 0rem 0rem;
   width: 100%;
}

.actuals__materialsbox:hover{
   /*
   
   border-style: solid;
   border-color: rgba(143, 142, 151, 0.755);
   */
   box-shadow: 0.5rem;
   cursor: pointer;
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.subscriptions__row{
   background-color: whitesmoke;
   width: 100%;
   
   margin-bottom: 0rem;
   margin-top: 0rem; 
   height: 180px;
   display: flex;
   justify-content: center;
   align-items: center;     
}

.subscriptions__body{   
   max-width: var(--main-max-width);
   display: flex;   
   align-items: center;
   justify-content:right;
   padding: 0rem 0rem 0rem 0rem;
   
   /*
   margin:0rem auto;
   */
}


.subscriptions__label{   
   max-width:291px;   
   text-align: left;
   justify-self: left;
   align-self: left;
   margin-left: 1rem;
   
}
.text-subscriptions__label{
   letter-spacing: -0.05rem;
   line-height: 1;
   font-size: var(--main-p-font-size);
}

.subscriptions__field{
   width:233px;
   height: 40px;
   padding: 0 1rem 0 1rem;
   
}


.input-subscriptions__field{
   width: 100%;
   border-radius: 0.3rem;
   background-color: white; 
   border-color: white;   
}

.input-subscriptions__field:hover{
   box-shadow: 0.5rem;
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.subscriptions__button{   
   width: 114px;
   height: 40px;
   background-color:rgb(30, 46, 226);
   border-radius: 0.5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 1rem;
   
}
.subscriptions__button:hover{   
   background-color:rgb(101, 111, 231);
   cursor: pointer;
}
.subscriptions__button:active {
   background-color: rgb(0, 152, 25); 
   
} 

.text-subscriptions__button{
   color: white;
   font-size: var(--main-p-res500-fontsize);
   
}

.nav__row{
   background-color: whitesmoke;
   width: 100%;
   
   margin-bottom: 0rem;
   margin-top: 0rem; 
   height: 64px;
   top: 0em; 

   display: flex;
   justify-content: center;
   align-items: center; 
   
   position: sticky;

   z-index: 1;
      
}

.nav__body{   
   width: 1024px;
   display: flex;   
   align-items:center;
   justify-content:space-between;
   padding: 0rem 0rem 0rem 0rem;
   margin: 0px auto;

     
}

.nav__companynamelogo{
   width: 180px;
   display: flex; 
   align-items:center;
   justify-content:stretch;
   

   /*
   flex: 0 0 60px;
   border-color: green;
   border-style: dotted;
   */
}
.nav__body, .nav__companynamelogo:hover{
   cursor: pointer;
}


.nav__WDlogo{
   padding-left: 1rem;
   
}
.nav__WDname{
   padding-left: 1rem;
   padding-right: 1rem;
}


/*----- Navigation Menue ---------------*/
.nav__menue{
   max-width: 480px;
   background-color: whitesmoke;

   font-weight: 400;
   
}
.nav__menue ul{
   margin: 0;
   padding: 0;
   text-decoration: none;
   
}

.nav__menue ul li ul{
   text-decoration: none;
}

.nav__menue li{
   float: left;
   text-align: center; 
   list-style: none;
   text-decoration: none;
   padding: 0;
   margin: 0;
}

.nav__menue li ul li{
   float: left;
   text-align: center; 
   list-style: none;
   text-decoration: none;
   padding: 0;
   margin: 0;

   border-color: #CBCBCB;
   border-width: 1px;
   border-style: solid;

}


.nav__menue a{							
   padding-left: 0.5rem;
   padding-right: 0.5rem; 
   text-decoration: none; 
   color: rgb(46, 46, 46);
   display: block;
   }

.nav__menue li:hover, a:hover {
      background-color: rgb(186, 186, 186);
      color: white;      
      cursor: pointer;
     
}   

.nav__menue li ul{
   display: none;
   height: auto;	
   position: absolute;
   margin: 0; 
   padding: 0; 
}
   
.nav__menue li:hover ul{
      display:list-item;
}

.nav__menue li ul li{
   background-color: rgb(147, 146, 146);
   color: white;
   }

.nav__menue li ul li a:hover{
      background-color: rgb(93, 93, 93);
      
      cursor: pointer;
     

}


/*
.nav__horlist {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: whitesmoke;
   user-select: none;
}

.li-nav__horlist {
   float: left;
}

.li-nav__horlist a {
   display: block;
   text-align: center;
   padding: 0.2rem 0.4rem;
   text-decoration: none;
   color: var(--main-p-txt-color);
}


.li-nav__horlist a:hover {
   background-color: rgb(151, 151, 151);
   color: white;
}


.nav__menue a{
   font-size: 1rem;
   display: block;
   padding-left: 0.5rem;
   padding-right: 0.5rem;

   border-color: rgb(5, 182, 114);
   border-style: dotted;

   
}
.nav__menue a:hover {
   

   box-shadow: 0.5rem;
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);


   -webkit-transform: scale(1.15);
   cursor: pointer;
   animation-duration: 2s;
   
}
*/

/*----- End of Navigation Menue ---------------*/

.nav__button{   
   width: 114px;
   height: 40px;
   background-color:rgb(30, 46, 226);
   border-radius: 0.5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 1rem;
   margin-left: 1rem;
   
}
.nav__button:hover{   
   background-color:rgb(101, 111, 231);
   cursor: pointer;
}
.nav__button:active {
   background-color: rgb(0, 152, 25); 
   
} 
.text-nav__button{
   color: white;
   font-size: var(--main-p-res500-fontsize);
   user-select: none;
   
}


/*
.sign-nav__burgerbox{
   display: none;
}
*/

/* ------------------- vertical menu */
.nav__vertmenu{
   display: none;
   position:fixed;
   top:0;
   margin-top: 64px;
   right: 0;
   background-color: rgb(228, 228, 228);
   /*
   
   width:50%;
   */
}

.nav__vertmenu ul{
   margin: 0;
   padding: 0;
   list-style-type: none;
   user-select: none;
}
.nav__vertmenu a{
   padding: 0.5rem 1rem;
   
}

.nav__vertmenu a:hover{
   display: block;
   background-color: rgb(130, 130, 130);
   color: white;
   cursor: pointer;
}
/* ------------------- end of vertial menu */

/*--logic to open vertical menu ---*/

.li-nav__horlist:first-child + .nav__vertmenu{
   display: block;
   animation: burger-click 1s ease;
}

/* =================================*/

#burger, [for=burger]{
   display: none;
}

.nav-burgermenu{
   display: none;
   position:fixed;
   top:0;
   margin-top: 64px;
   right: 0;
   background-color: rgb(228, 228, 228);
   /*
   
   width:50%;
   */
}

.nav-burgermenu ul{
   margin: 0;
   padding: 0;
   list-style-type: none;
   user-select: none;
}
.nav-burgermenu a{
   padding: 0.5rem 1rem;
   
}

.nav-burgermenu a:hover{
   display: block;
   background-color: rgb(130, 130, 130);
   color: white;
   cursor: pointer;
}

#burger:checked + label + .nav-burgermenu{
   display: block;
   animation: burger-click 1s ease;
}

@keyframes burger-click{
   0%{
      opacity: 0;
   }
   100%{
      opacity: 1;
   }
}

@-moz-keyframes mouse-on-like{
   0% { transform: translate(1px, 1px) rotate(0deg);
   scale:100%; }
   10% { transform: translate(-1px, -2px) rotate(-1deg); 
   scale: 105%;
   }
   20% { transform: translate(-2px, 0px) rotate(1deg); 
   scale:108%;
   }
   30% { transform: translate(1px, 1px) rotate(0deg);
   scale: 110%;
    }
   40% { transform: translate(1px, -1px) rotate(1deg);
   scale:114%;
    }
   50% { transform: translate(-1px, 1px) rotate(-1deg); 
      scale:111%;}
   60% { transform: translate(-3px, 0px) rotate(0deg);
      scale:107%; }
   70% { transform: translate(0px, 1px) rotate(-1deg);
      scale:105%; }
   80% { transform: translate(2px, -1px) rotate(1deg);
      scale:103%; }
   90% { transform: translate(1px, 1px) rotate(0deg); 
      scale:102%;}
   100% { transform: translate(1px, -1px) rotate(-1deg); 
      scale:100%;}  
}

@-webkit-keyframes mouse-on-like{
      0% { transform: translate(1px, 1px) rotate(0deg);
      scale:100%; }
      10% { transform: translate(-1px, -2px) rotate(-1deg); 
      scale: 105%;
      }
      20% { transform: translate(-2px, 0px) rotate(1deg); 
      scale:108%;
      }
      30% { transform: translate(1px, 1px) rotate(0deg);
      scale: 110%;
       }
      40% { transform: translate(1px, -1px) rotate(1deg);
      scale:114%;
       }
      50% { transform: translate(-1px, 1px) rotate(-1deg); 
         scale:111%;}
      60% { transform: translate(-3px, 0px) rotate(0deg);
         scale:107%; }
      70% { transform: translate(0px, 1px) rotate(-1deg);
         scale:105%; }
      80% { transform: translate(2px, -1px) rotate(1deg);
         scale:103%; }
      90% { transform: translate(1px, 1px) rotate(0deg); 
         scale:102%;}
      100% { transform: translate(1px, -1px) rotate(-1deg); 
         scale:100%;}    
}


@keyframes mouse-on-like{
      0% { transform: translate(1px, 1px) rotate(0deg);
      scale:100%; }
      10% { transform: translate(-1px, -2px) rotate(-1deg); 
      scale: 105%;
      }
      20% { transform: translate(-2px, 0px) rotate(1deg); 
      scale:108%;
      }
      30% { transform: translate(1px, 1px) rotate(0deg);
      scale: 110%;
       }
      40% { transform: translate(1px, -1px) rotate(1deg);
      scale:114%;
       }
      50% { transform: translate(-1px, 1px) rotate(-1deg); 
         scale:111%;}
      60% { transform: translate(-3px, 0px) rotate(0deg);
         scale:107%; }
      70% { transform: translate(0px, 1px) rotate(-1deg);
         scale:105%; }
      80% { transform: translate(2px, -1px) rotate(1deg);
         scale:103%; }
      90% { transform: translate(1px, 1px) rotate(0deg); 
         scale:102%;}
      100% { transform: translate(1px, -1px) rotate(-1deg); 
         scale:100%;}    
}

.footer{
   background-color: #202328;
   color: aliceblue;
   margin: 0px;
   padding: 0px;
   
}
.footer__container{
      
   padding-top: 2rem;
   margin: 0px;
/*
margin-right: auto;
   margin-left: 100px;
*/

}

.footer__gridbody{
   display:grid;
   grid-template-columns: [start] 1fr 0.3fr 0.7fr 1fr [col-end];
   grid-template-rows: [start] 30px auto auto auto [row-end];

   grid-template-areas: "companynamelogo phonemeicons phone sotialmediaicon"  
                       "menu_footer email email registration"  
                       "menu_footer address address registration"
                       "copyright copyright producedby producedby";

   
   width: 80%;
   margin: 2rem auto 0rem auto;

   row-gap: 1rem;
   column-gap: 0rem;
}


.companynamelogo_footer__grid{   
   grid-area: companynamelogo;
   display: flex;   
   align-items: center;   
}

.phonemeicons_footer__grid{
   
   grid-area: phonemeicons;
   display: flex;
   align-items: center;

   border-right-style: solid;
   border-right-color: aliceblue;
   border-width: 0.1rem;   
}
   
.phone_footer__grid{   
   grid-area: phone;
   
   align-self: center;
   padding-top: 0;
   margin-top: 0px;
   margin-left: 1rem;

   font-size: var(--footer-phone-font-size);
   font-weight: 500;   
}

.sotialmediaicon_footer__grid{
   
   grid-area: sotialmediaicon;
  
   display: flex;
   align-items: center;
}

.menu_footer__grid{
   grid-area: menu_footer;
   width:100%;   
}

.menu_footer__grid ul{    
   text-align: left;    
   text-decoration: none;
   padding: 0;
   margin: 0;  

   font-size: var(--footer-menue-font-size);
   font-weight: 500;
   line-height: 1.625rem;   
      
}

.menu_footer__grid li{
   text-decoration: none;
   float:left;
   list-style: none;
   color: #CBCBCB;
   padding:0rem 0.5rem;
   display: block;
   align-self: flex-start;
   line-height: 200%;
}

.menu_footer__grid li:hover, a:hover {
   background-color: rgb(200, 146, 146);
   color: white;      
   cursor: pointer;
  
}   

.email_footer__grid{
   grid-area: email;   
   text-align: left;

   font-size: var(--footer-phone-font-size);
   font-weight: 500;
}

.registration_footer__grid{
   grid-area: registration;

   text-align: left;

   font-size: var(--footer-samllertxt-font-size);
   font-weight: 400;
   line-height: 110%;
}

.address_footer__grid{
   grid-area: address;
   
   text-align: left;
   font-size: var(--footer-address-font-size);
   font-weight: 300;
}

.copyright_footer__grid{
   grid-area: copyright;
   
   text-align: left;
   border-top-style: solid;
   border-top-color: aliceblue;
   border-width: 0.1rem;

   font-size: var(--footer-samllertxt-font-size);
   font-weight: 400;
   
}

.producedby_footer__grid{
   grid-area: producedby;
   
   text-align: right;

   border-top-style: solid;
   border-top-color: aliceblue;
   border-width: 0.1rem;

   font-size: var(--footer-samllertxt-font-size);
   font-weight: 400;
}

.icon-footer__grid{
   padding: 0rem 0.4rem;
}





