@import url("main.css");



@media (max-width: 1200px) {
   .nav__body{
      max-width: 970px;
   }
}
@media (max-width: 992px) {
   .nav__body{
      max-width: 850px;
   }
}

@media (min-width: 796px) {
   .nav-burgermenu{
      display: none;
   }
}

@media (max-width: 795px) {
   .nav__body{
      max-width: none;   
   }
   .nav__menue{
      display: none;
   }
   [for=burger]{
      display: block;
      
      scale: 1;
      font-size: 2rem;
      margin-right: 1rem;
/*
width: 30px;
      text-align: center;
      position:fixed;
      
      right: 20px;
      top: 10px;
*/

   }
   [for=burger]::before{
      content: "☰";
   }
   #burger:checked + [for=burger]::before{
      content: "⛒";
   }
}


@media (max-width: 600px) {
   .header{
      padding-top: 1rem;
      padding-bottom: 0.5rem;
   }
   .header__text{
      font-size: 2rem; 
      line-height: 2.0rem; 
           
   }
   .main{       
      padding-top: 0.5rem;
   } 
   
   .actuals__materialsbox{
      margin: 1rem;   
         
   }
   .actuals__materialcontainer{
      
      flex-direction: column;
   }

}

@media (max-width: 500px) {
   .header{
      padding-top: 1rem;
      padding-bottom: 0.5rem;
   }
   .header__text{
      font-size: 2rem; 
      line-height: 1.0rem; 
           
   }
   .main{       
      padding-top: 0.5rem;
   }
   .main__header{       
      padding-top: 1rem;
   }
   .main__text{   
      text-align: left;
      font-size: var(--main-p-res500-fontsize);
      letter-spacing: -0.025rem;
   }
   .thead-main__table{       
      padding: 0.5rem;
      font-size: var(--main-p-res500-fontsize);
   }
   .tdata-main__table{       
      padding-top: 0.5rem;
      font-size: var(--main-p-res500-fontsize);
   }
   .main__blockreactions{
      width: 360px;
   }
   .icon-main__reactions{
      width: 36px;
      height: 36px;      
   }
      
   .actuals__materialsbox h3{
       font-size: var(--main-p-res500-fontsize);
         
   }
   .subscriptions__body{
      flex-direction: column;
   }
}

   
   @media (max-width: 400px){
      .header__text{
         line-height: 2.0rem;
         font-size: 1.5rem;                 
      }
      .thead-main__table{       
         font-size: var(--main-p-res400-fontsize);
         padding: 0.25rem;         
      }

      .tdata-main__table{       
         font-size: var(--main-p-res400-fontsize);
         padding: 0.25rem;
         
      }
      .main__blockreactions{
         width: 320px;
      }
      .icon-main__reactions{
         width: 32px;
         height: 32px;  
      }
      
      .actuals__materialsbox h3{
         font-size: var(--main-p-res400-fontsize);
      }
      .text-subscriptions__label{
         font-size: var(--main-p-res400-fontsize);
      }
      .text-subscriptions__button{
         
         font-size: var(--main-p-res400-fontsize);
         
      }
   }

   @media (max-width: 350px){
      .main__blockreactions{
         width: 260px;
      }
      .icon-main__reactions{
         width: 30px;
         height: 30px;  
      }
      .actuals__materialsbox h3{
         font-size: var(--main-p-res350-fontsize);
      }
      .text-subscriptions__label{
         font-size: var(--main-p-res350-fontsize);
      }
      
      .text-subscriptions__button{         
         font-size: var(--main-p-res350-fontsize);         
      }
      
      .nav__button{
         display: none;
      }
      
   }
